<html>
<head>
  <title>{{page_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <section id="project_thumbs">
  <ul id="thumbnails" class="thumbnails clearfix">
  {% for title in pics %}
    <div class ='greeting'>
    <li class="project">
      <div class="thumb_overlay"></div>
       <img src={{pics[title]}} />
           <div class="project-info">
              <h3>{{title}}</h3>
               <p>boom</p>
          </div>
    </li>
    </div>
  {% endfor %}
  <p><a href = 'greetings'>Search Another Tag?</a></p>
  </ul>
  </section>
  {% if prompt %}
  <div class= 'formtitle'>{{prompt}}</div>
  {% endif %}
</body>
</html>